<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="MobileNumber" ng-model="data.mobilenumber">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
      <a href="#/signup" class="button button-positive button-clear button-block ">Or create an account</a>
  </ion-content>
</ion-view>