<ion-view view-title="Home">
  <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  <ion-content class="padding">
    <h2>Welcome to Be Vallal</h2>
    <div ng-hide="data.receiver">
      <p>
        Please share the excess food you have with the needys sender
      </p>
    </div>
    <div ng-hide="!data.receiver">
      <p>
        Thanks for being a volunteer in distributing food receiver
      </p>
    </div>
    <div ng-hide="data.donateFood">
    <button ng-click="donateOptionOpen()"> Donate Food</button>  
    </div>

    


    <div ng-hide="data.donateDiv">
      <ion-list>
                <label class="item item-input">
                    <span class="input-label positive">count</span>
                    <input type="number" placeholder="" ng-model="data.count">
                </label>
                <button ng-click="donateFood(data)" class="button button-block button-calm ">Donate</button>
            </ion-list>
    </div>
  </ion-content>
</ion-view>
